{% extends "global/base.html" %}
{% load static %}
{% block content %}
<div class="results">
  <table class="results-table">
    <caption class="table-caption">
        Resultados
    </caption>

    <thead>
      <tr class="table-row table-row-header">
        <th class="table-header"></th>
        <th class="table-header">Partido</th>
        <th class="table-header">Votos</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Aliança_Democrática_2024_(Portugal)_logo.png" %}" alt="Aliança Democrática logo">
        </td>
        <td class="table-cel">
          Aliança Democrática
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Partido_Socialista_(Portugal).png" %}" alt="Partido Socialista logo">
        </td>
        <td class="table-cel">
          Partido Socialista
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Símbolo_principal_do_CHEGA.png" %}" alt="Chega logo">
        </td>
        <td class="table-cel">
          Chega
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global/img/Iniciativa_Liberal_Icon.png" %}" alt="Iniciativa Liberal logo">
        </td>
        <td class="table-cel">
          Iniciativa Liberal
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Logo_Bloco_de_Esquerda.png" %}" alt="Bloco de Esquerda logo">
        </td>
        <td class="table-cel">
          Bloco de Esquerda
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Símbolo_CDU_(PCP-PEV)_(Letras).png" %}" alt="Coligação Democrática Unitária logo">
        </td>
        <td class="table-cel">
          Coligação Democrática Unitária
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Partido_LIVRE_logo.png" %}" alt="Livre logo">
        </td>
        <td class="table-cel">
          Livre
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>

      <tr class="table-row">
        <td class="table-cel">
          <img src="{% static "global\img\Logo_Pessoas-Animais-Natureza.png" %}" alt="Pessoas-Animais-Natureza logo">
        </td>
        <td class="table-cel">
          Pessoas-Animais-Natureza
        </td>
        <td class="table-cel">
          0
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}