{% extends "global/base.html" %}
{% load static %}
{% block content %}
<div class="results">
  <table class="results-table">
    <caption class="table-caption">
      Resultados
    </caption>

    <thead>
      <tr class="table-row table-row-header">
        <th class="table-header"></th>
        <th class="table-header">Partido</th>
        <th class="table-header">Votos</th>
      </tr>
    </thead>

    <tbody>
      {% for party in poll %}
        <tr class="table-row">
          <td class="table-cel">
            <img src="{{ party.icon.url }}" alt="{{ party.name }} logo">
          </td>
          <td class="table-cel">
            {{ party.name }}
          </td>
          <td class="table-cel">
            {{ party.votes }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}