* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #408a6e;
}

.content {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 120rem;
  background: #eee;
}

.results-table {
  margin: 0 auto;
}

.table-header {
  font-size: 2rem;
}

.table-cel {
  font-size: 1.6rem;
}

.table-cel img {
  width: 5rem;
  height: 5rem;
}